// https://www.design-seeds.com/studio-hues/collage/painterly-hues/

$color_fond: #F6EEE8
$color_fond: #42403e
$color_main: #422F59
$color_main: #f9f9f9
$color_titre: #C6E97C
$color_titre: #232323
$color_font: #94D8BE
$color_font: gray
$color_border: #C6E97C
$color_border: #4A89A5
$color_bgtag: #4A89A5
$color_tag: #F6EEE8

html
  background: $color_fond
body
  padding: 20px 0 20px 20px!important
  font-size: 0.9rem
  color: $color_font

.main
  float: left
  max-width: 827px
  min-height: 1170px
  padding: 15px 30px
  margin-right: 20px
  margin-bottom: 20px
  border: 2px solid $color_border
  background: $color_main
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .65)

header
  margin-bottom: 20px
  
h1.title,
h2.title,
h3.title,
span.title
  color: $color_titre
  font-family: 'Oswald', sans-serif
  &.is-1
    font-size: 4rem
  &.is-3
    margin-bottom: 0!important
    font-size: 1rem
    
input
  width: 250px!important
  background: #f9f3f2!important
  
.field:not(:last-child)
  margin-bottom: .25rem!important
  
.control
  display: inline-block
  .icon
    color: black!important

.button.is-info
  background-color: $color_bgtag
  color: $color_tag
  &:hover
    background-color: $color_bgtag

.columns
  &:nth-of-type(2)
    margin-top: 20px
    margin-bottom: 20px
    .column:first-child
      padding-right: 30px
    @media screen and (min-width: 769px)
      .column:not(:first-child)
        padding-left: 30px
        border-left: 1px solid $color_titre
  .title.is-2
    margin-bottom: 20px
  .lieu,
  .date
    opacity: 0.9
    font-size: 0.8rem
  p
    text-align: justify
    margin-top: 10px
    margin-bottom: 25px

.tag
  background: $color_bgtag!important
  color: $color_tag!important
  margin: .2em
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.2)

.is-text-centered
  text-align: center

div.interest
  margin: 15px 15px 0 15px
  height: 64px
  width: 64px
  display: inline-block

.mail-is-copied, .number-is-copied
  position: absolute
  left: 60px
  top: 0.2rem
  font-size: 0.8rem

.ui-tooltip
  background-color: red

.info
  font-size: 0.8rem
  opacity: 0.9
  text-align: center
  display: block
  margin-top: -10px

.tooltip.is-tooltip-multiline::before
  min-width: 13rem

button.couleurs
  padding: 2rem
  height: inherit
  display: block
  margin-bottom: 20px

.rezo
  font-size: 2rem
  margin-right: 5px
  margin-bottom: 15px
  display: inline-block
  color: #f9f9f9
  &.twitter:hover
    color: #00aced
  &.instagram:hover
    color: #e95950
  &.github:hover
    color: black
  &.pinterest:hover
    color: #cb2027
  
  